<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/app.css">
    <title>index</title>
</head>

<body>
    这是一个koa 小 demo
</body>
<script>
    var ctx = new XMLHttpRequest();
    ctx.open('get', '/api/user/get_one');
    ctx.send();
    ctx.onreadystatechange = function() {
        if (ctx.readyState == 4 && ctx.status == 200) {
            //步骤五 如果能够进到这个判断 说明 数据 完美的回来了,并且请求的页面是存在的
            console.log(JSON.parse(ctx.responseText)); //输入相应的内容
        }
    }
</script>

</html>