<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>upload.html</title>
</head>

<body>
    <form action="/api/upload" method="POST" enctype="multipart/form-data">x
        <label for="file">  
            文件上传：
            <input type="file" name="file" id="file"> 
        </label>
        <button type="submit">upload</button>
    </form>
</body>

</html>