<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user</title>
</head>

<body>
    <div>
        <form action="/api/register" method="POST">
            <label for="name">
                username:
                <input type="text" name="user" id='user'>
            </label>
            <label for="password">
                password:
                <input type="password" name="password" id="password">
            </label>
            <label for="file">
                <input type="file" name="file" id="file">
            </label>
            <button type="submit">submit</button>
        </form>
    </div>
</body>

</html>